html 
{ /*
	background: url(../img/beach.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
   
        background-color: #000;


}

body
{
	
}

header h1
{
	font-size: 0.8em;
}

.container 
{
	position: relative;
	margin: 0 auto;
	width: 1000px;


}

.main section
{
	border: 2px #fff solid;
	color: #fff;
	width: 500px;
	height: 480px;
	position: fixed;
	padding: 10px;
	background: url(../img/newyork.jpg) no-repeat center  fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content article
{
	border: 2px #fff solid;
	width: 500px;
	position: relative;
	margin-top: 40px;
	padding: 10px;
	margin-left: 60%;
	background: url(../img/newyork.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content article:nth-last-child(1)
{
	margin-bottom: 105px;
}

.content p
{
	position: relative;
	width: 500px;
	height: auto;
	color: #fff;
}

.content h2, h3, h4, h5, h6
{
	color: #fff;
}

.navigation 
{
	float: left;
	font: normal 0.8em "helvetica" helvetica;
	text-transform: uppercase;
	position: relative;
	height: 30px;
}

.navigation li
{	
	
	padding: 5px;
	width: 150px;
}

.navigation:nth-child(1) li
{
}

.navigation a
{
	color: #000;
	text-decoration: none;	
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
}

.navigation a:hover
{
	color: #ff1;
}

header .navigation
{
	position:fixed;
	bottom:20px;
	left:142px;
	z-index:80;
	width:100%;
	line-height:6px
}

header .navigation 
{
	height:65px;
	background:#FF8800;
	opacity:0.6;filter:alpha(opacity=60);
	padding:7px 0 0 7px
	bottom: 50px;
}

header #webtitle
{
	position: fixed;
	left: 0;
	bottom: 20px;
	width: 140px;
	z-index:80;
	height: 65px;
	color: #fff;
	background-color: #000;
	border-right:2px solid #fff;
}

header #webtitle h1
{
	font: normal 0.8em "helvetica" helvetica;
	position:absolute;
	bottom: 0;
	right: 0;
	padding-right: 10px;
}

header #webtitle a h1
{
	color: #FF8800;
}

header #webtitle a:hover h1
{

	background-image: url('../img/go.gif');
}


label {	
		font-size: 20px;
		color: #fff; 
}
	
form { 
	
	
	
	width: 500px;
	/* -- CSS3 - define rounded corners for the form -- */	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 		
	
	/* -- CSS3 - create a background graident -- */
	background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#EEE), to(#FFFFFF)); 
	background: -moz-linear-gradient(0% 40% 90deg,#FFF, #EEE); 
	
	/* -- CSS3 - add a drop shadow -- */
	-webkit-box-shadow:0px 0 50px #ccc;
	-moz-box-shadow:0px 0 50px #ccc; 
	box-shadow:0px 0 50px #ccc;		 		
}	
	
fieldset { border: none; }

#user-details { 
	float: left;
	width: 230px; 
}

#user-message { 
	float: left;
	width: 405px;
}
	
input, textarea { 		
	padding: 8px; 
	margin: 4px 0 20px 0; 
	background: #fff; 
	width: 220px; 
	font-size: 14px; 
	color: #555; 
	border: 1px #ddd solid;
	
	/* -- CSS3 Shadow - create a shadow around each input element -- */ 
	-webkit-box-shadow: 0px 0px 4px #aaa;
	-moz-box-shadow: 0px 0px 4px #aaa; 
	box-shadow: 0px 0px 4px #aaa;
	
	/* -- CSS3 Transition - define what the transition will be applied to (i.e. the background) -- */		
	-webkit-transition: background 0.3s linear;							
}
	
textarea {		
	width: 390px; 
	height: 175px; 		 		
}

input:hover, textarea:hover, .read-more { 
	background: #eee; 
}
		
input.submit { 	
	width: 150px; 
	color: #eee; 
	text-transform: uppercase; 
	margin-top: 10px;
	background-color: #FF8800;
	border: none;
	
	/* -- CSS3 Transition - define which property to animate (i.e. the shadow)  -- */
	-webkit-transition: -webkit-box-shadow 0.3s linear;
	
	/* -- CSS3 - Rounded Corners -- */
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px; 
					
	/* -- CSS3 Shadow - create a shadow around each input element -- */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF8800), to(#FC9F35)); 
	background: -moz-linear-gradient(25% 75% 90deg,#FF8800, #FC9F35);		
} 
	
input.submit:hover { 		
	-webkit-box-shadow: 0px 0px 20px #555;
	-moz-box-shadow: 0px 0px 20px #aaa; 
	box-shadow: 0px 0px 20px #555;	
	cursor:  pointer; 
}

.read-more
{
	margin-top: 5px;
	padding: 5px 10px 5px 10px;
	color: #eee;
	position: relative;
	display: block;
	width: 100px;
	background-color: #FF8800;
	text-align: center;
	text-decoration: none;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px; 
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;

}

.read-more:visited
{
	color: #eee;
	cursor:  pointer; 
}

.read-more:hover
{
	background-color: #eee;
	color: #FF8800;
}

figure img{
width: 200px;
height: 200px;
}

/* Post thumbnail and images */
figure { 
	background: #f4f4f4;
	border: 2px solid #cecdcd;
	border-radius: 3px 5px 5px 5px;
	float: left;
	padding: 10px;
	text-align: center;
	-webkit-transition: border 200ms ease;
	/*-moz-transition: border 200ms ease;*/
	transition: border 200ms ease;
}

figure:hover {
	border: 2px solid #FF8800;
}

figure,
figure.alignleft  {
	margin: 0 20px 20px 0;
}

figure.alignright {
	margin: 0 0 20px 20px;
}

figure {
	margin-left: -40px;	
}

figcaption {
	margin: 10px 0;
	font: 14px 'Droid Serif', Georgia, serif;
	color: #555;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
}

/* Thumbnail rotation */
/*.thumbnail,
.post:nth-of-type(2n) .thumbnail:hover {
	-webkit-transform: rotate(0.45deg); 
	-moz-transform: rotate(0.45deg); 
	transform: rotate(0.45deg); 
}

.thumbnail:hover,
.post:nth-of-type(2n) .thumbnail {
	-webkit-transform: rotate(-0.45deg);
	-moz-transform: rotate(-0.45deg);
	transform: rotate(-0.45deg);
}*/

 input, textarea {
  @include transition(all 0.30s ease-in-out);
  border: 1px solid #FF8800;
}
 
input:focus, textarea:focus {
  @include box-shadow(0 0 5px rgba(227, 0, 91, 1));
  border: 1px solid rgba(255, 136, 100, 2);
}

