html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

html, body {
	
	background: #fff;	
	height : 100%;
}

.container {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

a {
	color : #666666;
	text-decoration: none;

}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6
{
	color: #888;
}

.personalia
{
	color: #fff;
	text-align: right;
	margin-right: 30px;
}

.personalia a
{
	color: #ff1;
}

aside h2
{
	font: normal 1.5em "helvetica", helvetica;
	padding: 10px 0px 10px 0px;
	text-align: center;
	text-shadow: 2px 2px 2px #000;

}

aside h3
{
	font: normal 1em "helvetica", helvetica;
	text-shadow: 2px 2px 2px #000;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 20px;
}

hr 
{
	border-top: #000;
}

.personalia label
{
	color: #666666;
	font-size: 12;
	text-transform: uppercase;
	text-align: right;
	margin-left: 5px;
	float: left;
}

aside
{	
	background: url('img/bg-sidebar.gif') top left no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 230px;
	padding: 10px;
}

.main
{
	margin: 0 30px 0 260px;
	padding: 40px 0 0 0;
}

.bodywrapper
{
	height: 100%;
	
}

.managers
{
	float: right;
	margin-top: 10px;
}

.managers li 
{
	margin-top: 10px;
	background-color: #fff;
	padding: 10px;
	margin-right: -10px;
}

.managers a:hover
{
	
}

.thumbnail
{
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	float: right;
}

table td
{
	padding: 10px;
}

textarea
{
	height: 100px;
	width: 200px;
}